@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #292828;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f7f5f5;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}       

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;  
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
    }
nav .fas{
    display: none;
}
@media(max-width: 700px){
    .text-box h1{
    font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fas{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor:pointer;       
    }
    .nav-links ul{
        padding: 30px;
    }
}


h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: #ffffff;
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}



/*------- Call To Action -------*/

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/Movie1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;  
}
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: #000000;
}
.footer p {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 700;
}
.icons .fab{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    font-size: 30px;
}
.fa-thumbs-up{
    color: #f44336;
}

/*------- About us Page -------*/
.sub-header{
    height: 120vh;
    width: 100%;
    background-image: url(../images/redmovie.png);
    background-position:0%;
    text-align: center;
    color: black;
    background-size: cover;
    
}
.sub-header h1 {
    margin-top: 100px;
    color: white;
    font-size: 50px;
    margin-top: 50px;
    text-align: left;
    margin-left: 70px;
}
.sub-header h2{
    margin-top: 100px;
    color: #1f1d1d;
    font-size: 40px;
    margin-top: 210px;
    text-align: left;
    margin-left: 70px;
}
.sub-header h3 {
    color: white;
    font-size: 25px;
    font-weight: 600;
    margin-left: -350px;
    margin-top: -5px;
}

.about-us{
    width: 100%;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 50px;
    background-color:#000000;
    color:white;
}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
    color: white;
}
.about-col img{
    width: 80%;
    padding-top: 20px;
    border-radius: 5px;
    border-color: #0c0c0c;
}
.about-col h1{
    padding-top: 0;
    margin-left: 80px;
    text-align: justify;
}

.about-col p{
    padding: 15px 0 25px;
    margin-left: 80px;
    text-align: justify;
    font-weight: 600;
    color:#ccc;
}
.red-btn{
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
    border-radius: 10px;
    margin-left: 80px;
    transition: 3s;
}
.red-btn:hover{
    color: #fff;
    transition: 3s;
}

/*------- Blog Content -------*/

.blog-content{
    width: 100%;
    margin: auto;
    padding: 60px 0;
    background-color: #000000;
    color: #ffffff;
}
.blog-left{
    flex-basis: 65%;
}
.blog-left img{
    width: 80%;
    height:50%;
    margin:auto;
}

.blog-left h2{
    color: #fff;
    font-weight: 600;
    margin: 3px 0;

    
}

.comment-box{
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}
.comment-box h3{
    text-align: left;
}
.comment-form input, .comment-form textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}
.comment-form button{
    margin: 10px 0;
}
@media(max-width:700px){
    .sub-header h1{
        font-size: 24px;
    }
}
